h1{
    margin-left: 20px;
    padding-left: 20px;
   
    color:#00FFFF;
}
h2,p{
    color:#8A2BE2;
    
    text-align: center;
}
body{
    background-color:#E0FFFF;
}
.menu{
    margin-top: 20px;
    
}
.menu a{
    padding-right: 20px;
}

/* *{
    border:solid;
} */
.header{
    display:flex;
    background-color:#FFC0CB ;
    justify-content: space-between;
}
.grid{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.footer{
    display:flex;
    margin-left: 680px;
}
